# Ассоциативные правила 
Скрипт позволяет находить в массиве данных ассоциативные правила.

In [10]:
# импортируем библиотеки 
import pandas as pd
import numpy as np

In [11]:
#загружаем данные их файла MS Excel
sales=pd.read_excel('DataSet.xlsx')
#проверяем результат, выводим первые 10 строчек кода
sales.head(10)

,user_id,gender,age_range,occupation,zipcode,movie_id,title,genres,timestamp,rating
0,1,Female,Under 18,K-12 student,48067,1193,One Flew Over the Cuckoo's Nest (1975),Drama,978300760,5
1,1,Female,Under 18,K-12 student,48067,661,James and the Giant Peach (1996),Animation$Children's$Musical,978302109,3
2,1,Female,Under 18,K-12 student,48067,914,My Fair Lady (1964),Musical$Romance,978301968,3
3,1,Female,Under 18,K-12 student,48067,3408,Erin Brockovich (2000),Drama,978300275,4
4,1,Female,Under 18,K-12 student,48067,2355,"Bug's Life, A (1998)",Animation$Children's$Comedy,978824291,5
5,1,Female,Under 18,K-12 student,48067,1197,"Princess Bride, The (1987)",Action$Adventure$Comedy$Romance,978302268,3
6,1,Female,Under 18,K-12 student,48067,1287,Ben-Hur (1959),Action$Adventure$Drama,978302039,5
7,1,Female,Under 18,K-12 student,48067,2804,"Christmas Story, A (1983)",Comedy$Drama,978300719,5
8,1,Female,Under 18,K-12 student,48067,594,Snow White and the Seven Dwarfs (1937),Animation$Children's$Musical,978302268,4
9,1,Female,Under 18,K-12 student,48067,919,"Wizard of Oz, The (1939)",Adventure$Children's$Drama$Musical,978301368,4

In [16]:
#преобразуем таблицу таким образом, чтобы столбцы были наименования ассортимента, строки клиенты, а на пересечении
# рейтинг
UID_sales=sales.pivot_table(values='rating', columns=['genres'], index='user_id', aggfunc=np.sum)
#Вместо NaN (значение отсутствует) проставим в ДатаФрейм 0-ки:
UID_sales[np.isnan(UID_sales)] = 0
# все значения больше 0 заменим 1, чтобы больше проявить правила.
UID_sales[UID_sales>0]=1
# 10 первых строк новой таблицы
UID_sales.head(10)

genres,Action,Action$Adventure,Action$Adventure$Comedy,Action$Adventure$Comedy$Crime,Action$Adventure$Comedy$Horror,Action$Adventure$Comedy$Romance,Action$Adventure$Comedy$Sci-Fi,Action$Adventure$Drama,Action$Adventure$Drama$Sci-Fi$War,Action$Adventure$Fantasy,...,Horror$Romance,Horror$Sci-Fi,Horror$Sci-Fi$Thriller,Musical,Musical$Romance,Mystery$Sci-Fi$Thriller,Sci-Fi,Sci-Fi$Thriller,Thriller,Western
user_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
6,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
#Создадим функцию для создания списка транзакций:
def transaction_list(df):
    list_external=[]
    for i in range(df.shape[0]):
        list_internal=[]
        data=df.iloc[i]
        index=data[data>0]
        for element in index.index:
            list_internal.append(element)
        list_external.append(list_internal)
    return list_external
# используем функцию, чтобы преобразовать массив в список транзакций

transactions=transaction_list(UID_sales[:5000])
# в данном случае не обращаем внимание на предупреждение
# как выглядит наш список
# Безусловно, к нему можно было придти и не строя бинарную матрицу
# но с бинарной матрицей можно выполнять другие операции, например, искать теже кластера
# это список товаров, которые содержаться в чеке или их покупает клиент
transactions[0]

['Action$Adventure$Comedy$Romance',
 'Action$Adventure$Drama',
 "Adventure$Children's$Drama$Musical",
 "Animation$Children's",
 "Animation$Children's$Comedy",
 "Animation$Children's$Musical",
 'Animation$Comedy$Thriller',
 "Children's$Drama$Fantasy$Sci-Fi",
 'Comedy',
 'Comedy$Drama',
 'Drama',
 'Drama$Romance',
 'Musical',
 'Musical$Romance']

Для использования библиотеки mlxtend ее следует установить, она не является стандартной. Установка через Anaconda Prompt командой pip install --upgrade mlxtend

In [23]:
# загрузим пакеты, необходимые для выполнения анализа
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

Создадим частные наборы с уровнем поддержки (min_support) равной 0.2 Это крайне низкий уровень поддержки для практического применения, используется исключительно для примера.

In [24]:
te = TransactionEncoder()
te_ary = te.fit(transactions).transform(transactions)
df = pd.DataFrame(te_ary, columns=te.columns_)
frequent_itemsets = apriori(df, min_support=0.2, use_colnames=True)

In [25]:
frequent_itemsets

    support                                      itemsets
0      0.20                            (Action$Adventure)
1      0.20             (Action$Adventure$Fantasy$Sci-Fi)
2      0.30                    (Action$Adventure$Mystery)
3      0.20                     (Action$Adventure$Sci-Fi)
4      0.20                        (Action$Crime$Romance)
5      0.20                               (Action$Sci-Fi)
6      0.25                      (Action$Sci-Fi$Thriller)
7      0.35                             (Action$Thriller)
8      0.50                                      (Comedy)
9      0.45                                (Comedy$Drama)
10     0.55                              (Comedy$Romance)
11     0.70                                       (Drama)
12     0.40                               (Drama$Romance)
13     0.20                                      (Horror)
14     0.25                                    (Thriller)
15     0.20            (Action$Adventure$Mystery, Comedy)
16     0.20             (Action$Thriller, Comedy$Romance)
17     0.20                      (Action$Thriller, Drama)
18     0.30                        (Comedy$Drama, Comedy)
19     0.35                      (Comedy$Romance, Comedy)
20     0.35                               (Comedy, Drama)
21     0.20                       (Drama$Romance, Comedy)
22     0.30                (Comedy$Drama, Comedy$Romance)
23     0.40                         (Comedy$Drama, Drama)
24     0.30                 (Drama$Romance, Comedy$Drama)
25     0.40                       (Comedy$Romance, Drama)
26     0.25               (Drama$Romance, Comedy$Romance)
27     0.25                    (Comedy$Romance, Thriller)
28     0.40                        (Drama$Romance, Drama)
29     0.20                             (Thriller, Drama)
30     0.20        (Comedy$Drama, Comedy$Romance, Comedy)
31     0.25                 (Comedy$Drama, Comedy, Drama)
32     0.20         (Drama$Romance, Comedy$Drama, Comedy)
33     0.20               (Comedy$Romance, Comedy, Drama)
34     0.20                (Drama$Romance, Comedy, Drama)
35     0.25         (Comedy$Drama, Comedy$Romance, Drama)
36     0.30          (Drama$Romance, Comedy$Drama, Drama)
37     0.25        (Drama$Romance, Comedy$Romance, Drama)
38     0.20             (Comedy$Romance, Thriller, Drama)
39     0.20  (Drama$Romance, Comedy$Drama, Comedy, Drama)

In [35]:
# сгенерируем ассоциативные правила с уровнем доверия 0.1
association_rules(frequent_itemsets, metric="confidence", min_threshold=0.7)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Comedy),(Comedy$Romance),0.50,0.55,0.35,0.700000,1.272727,0.0750,1.500000
1,(Comedy),(Drama),0.50,0.70,0.35,0.700000,1.000000,0.0000,1.000000
2,(Comedy$Drama),(Drama),0.45,0.70,0.40,0.888889,1.269841,0.0850,2.700000
3,(Drama$Romance),(Comedy$Drama),0.40,0.45,0.30,0.750000,1.666667,0.1200,2.200000
4,(Comedy$Romance),(Drama),0.55,0.70,0.40,0.727273,1.038961,0.0150,1.100000
5,(Thriller),(Comedy$Romance),0.25,0.55,0.25,1.000000,1.818182,0.1125,inf
6,(Drama$Romance),(Drama),0.40,0.70,0.40,1.000000,1.428571,0.1200,inf
7,(Thriller),(Drama),0.25,0.70,0.20,0.800000,1.142857,0.0250,1.500000
8,"(Comedy$Drama, Comedy)",(Drama),0.30,0.70,0.25,0.833333,1.190476,0.0400,1.800000
9,"(Comedy, Drama)",(Comedy$Drama),0.35,0.45,0.25,0.714286,1.587302,0.0925,1.925000
10,"(Drama$Romance, Comedy)",(Comedy$Drama),0.20,0.45,0.20,1.000000,2.222222,0.1100,inf
11,"(Drama$Romance, Comedy)",(Drama),0.20,0.70,0.20,1.000000,1.428571,0.0600,inf
12,"(Comedy$Drama, Comedy$Romance)",(Drama),0.30,0.70,0.25,0.833333,1.190476,0.0400,1.800000
13,"(Drama$Romance, Comedy$Drama)",(Drama),0.30,0.70,0.30,1.000000,1.428571,0.0900,inf
14,"(Drama$Romance, Drama)",(Comedy$Drama),0.40,0.45,0.30,0.750000,1.666667,0.1200,2.200000
15,"(Comedy$Drama, Drama)",(Drama$Romance),0.40,0.40,0.30,0.750000,1.875000,0.1400,2.400000
16,(Drama$Romance),"(Comedy$Drama, Drama)",0.40,0.40,0.30,0.750000,1.875000,0.1400,2.400000
17,"(Drama$Romance, Comedy$Romance)",(Drama),0.25,0.70,0.25,1.000000,1.428571,0.0750,inf
18,"(Thriller, Comedy$Romance)",(Drama),0.25,0.70,0.20,0.800000,1.142857,0.0250,1.500000
19,"(Thriller, Drama)",(Comedy$Romance),0.20,0.55,0.20,1.000000,1.818182,0.0900,inf
20,(Thriller),"(Comedy$Romance, Drama)",0.25,0.40,0.20,0.800000,2.000000,0.1000,3.000000
21,"(Drama$Romance, Comedy$Drama, Comedy)",(Drama),0.20,0.70,0.20,1.000000,1.428571,0.0600,inf
22,"(Drama$Romance, Comedy, Drama)",(Comedy$Drama),0.20,0.45,0.20,1.000000,2.222222,0.1100,inf
23,"(Comedy$Drama, Comedy, Drama)",(Drama$Romance),0.25,0.40,0.20,0.800000,2.000000,0.1000,3.000000
24,"(Drama$Romance, Comedy)","(Comedy$Drama, Drama)",0.20,0.40,0.20,1.000000,2.500000,0.1200,inf

In [38]:
# найдем ассоциативные правила с уровнем независимости больше 1.7
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1.7)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Comedy$Romance),(Thriller),0.55,0.25,0.25,0.454545,1.818182,0.1125,1.375000
1,(Thriller),(Comedy$Romance),0.25,0.55,0.25,1.000000,1.818182,0.1125,inf
2,"(Drama$Romance, Comedy)",(Comedy$Drama),0.20,0.45,0.20,1.000000,2.222222,0.1100,inf
3,(Comedy$Drama),"(Drama$Romance, Comedy)",0.45,0.20,0.20,0.444444,2.222222,0.1100,1.440000
4,"(Comedy$Drama, Drama)",(Drama$Romance),0.40,0.40,0.30,0.750000,1.875000,0.1400,2.400000
5,(Drama$Romance),"(Comedy$Drama, Drama)",0.40,0.40,0.30,0.750000,1.875000,0.1400,2.400000
6,"(Comedy$Romance, Drama)",(Thriller),0.40,0.25,0.20,0.500000,2.000000,0.1000,1.500000
7,"(Thriller, Drama)",(Comedy$Romance),0.20,0.55,0.20,1.000000,1.818182,0.0900,inf
8,(Comedy$Romance),"(Thriller, Drama)",0.55,0.20,0.20,0.363636,1.818182,0.0900,1.257143
9,(Thriller),"(Comedy$Romance, Drama)",0.25,0.40,0.20,0.800000,2.000000,0.1000,3.000000
10,"(Drama$Romance, Comedy, Drama)",(Comedy$Drama),0.20,0.45,0.20,1.000000,2.222222,0.1100,inf
11,"(Comedy$Drama, Comedy, Drama)",(Drama$Romance),0.25,0.40,0.20,0.800000,2.000000,0.1000,3.000000
12,"(Drama$Romance, Comedy$Drama)","(Comedy, Drama)",0.30,0.35,0.20,0.666667,1.904762,0.0950,1.950000
13,"(Drama$Romance, Comedy)","(Comedy$Drama, Drama)",0.20,0.40,0.20,1.000000,2.500000,0.1200,inf
14,"(Comedy$Drama, Drama)","(Drama$Romance, Comedy)",0.40,0.20,0.20,0.500000,2.500000,0.1200,1.600000
15,"(Comedy, Drama)","(Drama$Romance, Comedy$Drama)",0.35,0.30,0.20,0.571429,1.904762,0.0950,1.633333
16,(Drama$Romance),"(Comedy$Drama, Comedy, Drama)",0.40,0.25,0.20,0.500000,2.000000,0.1000,1.500000
17,(Comedy$Drama),"(Drama$Romance, Comedy, Drama)",0.45,0.20,0.20,0.444444,2.222222,0.1100,1.440000

In [39]:
#имя файла AssocRules002.xlsx
writer = pd.ExcelWriter('association_rule.xlsx')
rules.to_excel(writer,'AR')
writer.save()